<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
  		Select an image to upload: <input type="file" name="newFile"> 
  		<input type="submit" value="Upload file">
	</form>
  </body>
</html>
